<div class="panel panel-success">
  <div class="panel-heading">
    <div class="messe">メッセージ一覧</div>
  </div>
    
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label"><%= message.name %></span>
      <%= message.body %>
      (<%= link_to "編集" , edit_message_path(message) %>)
      <%= link_to "削除" , message , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
      <br>
    <% end %>
    
    <%= form_for(@message) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>

  名前:
  <%= f.text_field :name %>

  内容:
  <%= f.text_field :body %>
  <%= f.submit class: "btn btn-sm btn-primary" %>
<% end %>
  </div>


 